{% extends 'base.html' %}



{% block content %}
<table class="table table-border-less">
    <thead class="border-bottom font-weight-bold">
    <tr>
        <td>Full Name</td>
        <td>Mobile</td>
        <td>Position</td>
    </tr>    
    </thead>
    <tbody>
        {% for employee in employee_list %}
        <tr>
            <td>{{employee.fullname}}</td>
            <td>{{employee.mobile}}</td>
            <td>{{employee.position}}</td>
            <td><a href="{% url 'employee_update' employee.id  %}" class="btn text-secondary px-0">Edit</a> </td>
            
        </tr>
        {%endfor%}
    </tbody>
</table>



{% endblock content %}